body {
  font-family: Arial, sans-serif;
  background-color: #FFF8DE;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
}

#site-name {
  font-size: 1.2rem;
  font-weight: bold;
}

#user-name {
  font-size: 1rem;
}

#container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #C5D3E8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #7e9274;
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #c3ccbe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

input[type="text"], input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #A6AEBF;
  border-radius: 5px;
  background-color: #FFF8DE;
  color: #182b42;
}

button {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #A6AEBF;
  color: #825B32;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8B9DB6;
}

#container button {
  display: block;
  width: 60%;
  margin: 10px auto;
}

#container > div button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #A6AEBF;
  width: fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

#success {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.font{
  font-size: 30px;
  color: rgb(133, 126, 126);
  font-family: Pacifico;
}

#navbar {
  width: 95.5vw;
  background-color: #A6AEBF;
  color: rgb(204, 85, 85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

#site-name {
  font-size: 1.2rem;
  font-weight: bold;
}

#user-name {
  font-size: 1rem;
  position: relative; 
}

.star {
  position: absolute;
  top: -10px;
  left: 100%; 
  font-size: 1.5rem;
  animation: fall 2s ease-in-out infinite; 
}

@keyframes fall {
  0% {
    transform: translateY(-50px); 
    opacity: 0; 
  }
  50% {
    transform: translateY(40px); 
    opacity: 1;
  }
  100% {
    transform: translateY(0); 
    opacity: 0; 
  }
}
